<!DOCTYPE html>
<html lang="en">
    <head>
        <title>hypatia</title>

        <meta name="theme-color" content="#1C7EF0">
        <meta name="application-name" content="hypatia">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="A learning management platform for modern technology stacks" />

        <link rel="shortcut icon" href="/favicon/favicon-64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32.png">
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon/favicon-64.png">
        <link rel="icon" type="image/png" sizes="128x128" href="/favicon/favicon-128.png">
        <link rel="icon" type="image/png" sizes="256x256" href="/favicon/favicon-256.png">

        <meta name="og:title" content="hypatia">
        <meta name="og:type" content="website">
        <meta name="og:image" content="/favicon/logo.png">
        <meta name="og:url" content="https://hyp.so">
        <meta name="og:description" content="A learning management platform for modern technology stacks">

        <meta name="apple-mobile-web-app-title" content="hypatia">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width">
        <% if (mode === "production") {%>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js" integrity="sha512-qlzIeUtTg7eBpmEaS12NZgxz52YYZVF5myj89mjJEesBd/oE9UPsYOX2QAXzvOAZYEvQohKdcY8zKE02ifXDmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js" integrity="sha512-9jGNr5Piwe8nzLLYTk8QrEMPfjGU0px80GYzKZUxi7lmCfrBjtyCc1V5kkS5vxVwwIB7Qpzc7UxLiQxfAN30dw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script async src="https://www.googletagmanager.com/gtag/js?id=G-YGLDCY66D9"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-YGLDCY66D9');
            </script>
        <% } %>
        <style>
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
}

body, input, text-area {
    font-family: 'Lato';
}

#root {
    min-height: 100vh;
}
        </style>
        <%= compilation.ssr?.headContents %>
    </head>
    <body>
        <div id="root">
            <%= compilation.ssr?.bodyContents %>
        </div>
    </body>
</html>