@use "~/src/vars.scss" as vars;

$piston-anim: 500ms ease-in-out 250ms;

$padding: 128px;

.shear-in {
    display: flex;
    flex-direction: column;
    height: 512px;

    .left, .right {
        opacity: 0;
        position: relative;

        transition: opacity $piston-anim;

        .piston {
            position: absolute;
            top: 0;
            bottom: 0;
            padding: 0px $padding;
            width: calc(50vw + 500px);

            display: flex;

            transition: right $piston-anim, left $piston-anim;

            .piston-content {
                width: calc(min(100vw, 1000px) - 64px);
                padding: 32px 32px;
            }
        }
    }

    .left {
        flex-basis: 128px;

        .piston {
            right: 256px;
            background: vars.$light-blue;
            justify-content: flex-end;
            align-items: center;
            padding-left: 0px;

            .piston-content {
                text-align: center;
                color: vars.$blue;
                @include vars.header1;
            }
        }
    }

    .right {
        flex-grow: 1;

        .piston {
            left: 256px;
            background: vars.$slate;
            justify-content: flex-start;
            padding-right: 0px;

            .piston-content {
                text-align: left;
                color: vars.$white;
                @include vars.header2;
            }
        }
    }

    &[data-combined=true] {
        .left {
            opacity: 1;

            .piston {
                right: -$padding;
            }
        }

        .right {
            opacity: 1;

            .piston {
                left: -$padding;
            }
        }
    }
}