@use "~/src/vars.scss" as vars;

$piston-anim: 500ms ease-in-out 100ms;

$padding: 128px;

.shear-in {
    display: flex;
    flex-direction: column;

    .left, .right {
        opacity: 0;
        position: relative;

        transition: opacity $piston-anim;

        .piston {
            position: relative;
            top: 0;
            bottom: 0;
            padding: 0px $padding;
            width: calc(50vw + 500px);

            display: flex;

            transition: right $piston-anim, left $piston-anim;

            .piston-content {
                width: calc(min(100vw, 1000px) - 64px);
                padding: 32px 32px;
            }
        }
    }

    .left {
        .piston {
            transform: translateX(-100%);
            left: calc(100% - $padding);
            background: vars.$light-blue;
            justify-content: flex-end;
            align-items: center;
            padding-left: 0px;

            .piston-content {
                text-align: center;
                color: vars.$blue;
                @include vars.header1;
            }
        }
    }

    .right {
        .piston {
            background: vars.$slate;
            right: -$padding;
            justify-content: flex-start;
            padding-right: 0px;

            .piston-content {
                text-align: left;
                color: vars.$white;
                @include vars.header2;
            }
        }
    }

    &[data-combined=true] {
        .left {
            opacity: 1;

            .piston {
                left: calc(100% + $padding);
            }
        }

        .right {
            opacity: 1;

            .piston {
                right: $padding;
            }
        }
    }
}