@keyframes shudder {
    0% {
        transform: translateX(0) rotate(20deg);
    }

    10%, 90% {
        transform: translateX(-2px) rotate(20deg);
    }

    20%, 80% {
        transform: translateX(4px) rotate(20deg);
    }

    30%, 50%, 70% {
        transform: translateX(-6px) rotate(20deg);
    }

    40%, 60% {
        transform: translateX(6px) rotate(20deg);
    }
}

.tune-segment {
    .tuning-fork {
        transform: rotate(20deg);
    }

    &[data-visible=true] {
        .tuning-fork {
            animation: shudder 0.75s 1 ease-in-out;
        }
    }
}