.tune-segment {
    .tuning-fork {
        transform: scale(0.75) rotate(20deg);
        opacity: 0;
        transition: transform 200ms ease-in, opacity 250ms ease-in;
    }

    &[data-visible=true] {
        .tuning-fork {
            transform: scale(1) rotate(20deg);
            opacity: 1;
        }
    }
}