.frame.about-segment {
    .pencil {
        transform: scale(0.8) rotate(-20deg);
        opacity: 0.75;
        margin-right: 32px;
        transition: transform 250ms ease-in, opacity 250ms ease-in;
    }

    &[data-visible=true] {
        .pencil {
            transform: scale(1.2) rotate(-20deg);
            opacity: 1;
        }
    }
}

