@use "~/src/vars.scss" as vars;

$piston-anim: 500ms ease-in-out 250ms;

.slidein {
    display: flex;
    height: 512px;

    .left, .right {
        flex-grow: 1;
        opacity: 0;
        position: relative;

        transition: opacity $piston-anim;

        .piston {
            position: absolute;
            top: 0;
            bottom: 0;
            width: calc(50vw + 50px);

            transition: right $piston-anim, left $piston-anim;

            .title {
                position: absolute;
                top: 32px;
                font-size: 48px;
                width: 1000px;
                text-align: center;
            }

            .piston-content {
                position: absolute;
                top: 160px;
                width: 400px;
                font-size: 24px;
                line-height: 72px;
                white-space: pre;
            }
        }
    }

    .left .piston {
        right: 200px;
        background: vars.$light-blue;
        clip-path: polygon(0px 0px, calc(100% - 100px) 0px, 100% 100%, 0px 100%);

        .title {
            right: -500px + 50px;
            color: vars.$blue;
        }

        .piston-content {
            right: 150px;
            text-align: right;
            color: vars.$black;
        }
    }

    .right .piston {
        left: 200px;
        background: vars.$slate;
        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 100px 100%);

        .title {
            left: -500px + 50px;
            color: vars.$light-blue;
        }

        .piston-content {
            left: 150px;
            text-align: left;
            color: vars.$white;
        }
    }

    &[data-combined=true] {
        .left {
            opacity: 1;

            .piston {
                right: -50px;
            }
        }

        .right {
            opacity: 1;

            .piston {
                left: -50px;
            }
        }
    }
}