@use "~/src/vars.scss" as vars;

$piston-anim: 500ms ease-in-out 100ms;

.slidein {
    display: flex;
    height: 412px;

    .left, .right {
        flex-grow: 1;
        opacity: 0;
        position: relative;

        transition: opacity $piston-anim;

        .piston {
            position: absolute;
            top: 0;
            bottom: 0;
            width: calc(50vw + 50.5px);

            @include vars.mobile {
                width: 50vw;
            }

            transition: right $piston-anim, left $piston-anim;

            .title {
                position: absolute;
                top: 32px;
                text-align: center;
                @include vars.header1;
            }

            .piston-content {
                position: absolute;
                top: 160px;
                width: 400px;
                @include vars.header2;
                line-height: 48px;
                white-space: pre;
            }
        }
    }

    .left .piston {
        right: 200px;
        background: vars.$light-blue;
        clip-path: polygon(0px 0px, calc(100% - 100px) 0px, 100% 100%, 0px 100%);

        @include vars.mobile {
            clip-path: polygon(-0.5px -0.5px, calc(100% + 0.5px) -0.5px, calc(100% + 0.5px) calc(100% + 0.5px), -0.5px calc(100% + 0.5px));
        }

        &.piston {
            @include vars.mobile {
                background: vars.$slate;

                .title {
                    color: vars.$light-blue;
                }

                .piston-content {
                    color: vars.$white;
                    right: 0px;
                }
            }
        }

        .title {
            right: 50px;

            @include vars.mobile {
                right: 0px;
            }

            transform: translateX(50%);
            color: vars.$blue;
        }

        .piston-content {
            right: 150px;
            text-align: right;
            color: vars.$black;

            @include vars.mobile {
                right: 0px;
                transform: translateX(50%);
                text-align: center;
            }
        }
    }

    .right .piston {
        left: 200px;
        background: vars.$slate;
        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 100px 100%);

        @include vars.mobile {
            clip-path: polygon(-0.5px -0.5px, calc(100% + 0.5px) -0.5px, calc(100% + 0.5px) calc(100% + 0.5px), -0.5px calc(100% + 0.5px));
        }

        .title {
            left: 50px;

            @include vars.mobile {
                left: 0px;
            }

            transform: translateX(-50%);
            color: vars.$light-blue;
        }

        .piston-content {
            left: 150px;
            text-align: left;
            color: vars.$white;

            @include vars.mobile {
                left: 0px;
                transform: translateX(-50%);
                text-align: center;
            }
        }
    }

    &[data-combined=true] {
        .left {
            opacity: 1;

            .piston {
                right: -50.5px;

                @include vars.mobile {
                    right: 0px;
                }
            }
        }

        .right {
            opacity: 1;

            .piston {
                left: -50.5px;

                @include vars.mobile {
                    left: 0px;
                }
            }
        }
    }
}